/* palette 
- bleus gris pâles
backgrounds
737b7c +
7e8a8c -
- bleu layette
96abca enlight
- beige
fffdd5 bkgrnd
- bleu noir
030707 font
 */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: #7e8a8c;
}

/* header */
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-left: 40px;
	padding-bottom: 40px;
	background-color: #737b7c;
}
#nav div {
	padding: 10px;
	margin: 15px;
	background-color: #fffdd5;
	border: 2px solid #96abca;
	border-radius: 5px;
}
#nav a {
	color: #030707;
}
#titre {
	font-family: 'Orbitron', sans-serif;
}
.titre {
	font-size: 3em;
	padding-left: 20px;
	color: #030707;
}
.titreSmall {
	font-size: 1.5em;
	padding-left: 20px;
	color: #030707;
}

/* intro */
#presentation {
	text-align: center;
	padding: 10px 0;
	margin: 70px 0;
	border-radius: 3px;
	background-color: #96abca;
	color: #030707;
}

/* contenu principal */
#container {
	margin: auto;
}
.etiquette {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
	height: 450px;
	margin: 30px 15px;
	border: 2px solid #96abca;
	border-radius: 5px;
	background-color: #737b7c;
	color: #030707;
}
.img {
	height: 230px;
}
.etiquette img {
	width: 100%;
}
.etiquette p {
	margin: 0;
}
.etiquette a {
	color: #96abca;
}
.btn {
	position: absolute;
	bottom: 10px;
	left: 140px;
	background-color: #fffdd5;
	border-radius: 3px;
}
.btn > a {
	color: #030707;
}

/* contacts*/ 
#contacts {
	margin-top: 70px;
}
#mail {
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	background-color: #96abca; 
	border-radius: 3px;
}
#mail > h4 {
	margin-top: 0;
}
#mail  i {
	color: pink;
}

/* footer */
footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 100px;
	background-color: #737b7c;
	color: #030707;
}
footer a {
	color: pink;
}


/* media queries */
@media all and (max-width: 400px) {
header {
	padding-left: 0;
}
}

@media all and (max-width: 600px) {
	.etiquette {
		margin: 30px;
	}
	#mail {
		margin-left: 30px;
	}
}

@media all and (min-width: 1900px) {
	.etiquette {
		margin: 50px 75px;
	}
}
