


		body {
			font-family: 'Lucida Sans Unicode', sans-serif;
			background-color: #9d9299;
			margin: 15px;
		}

		/* header et footer */
		header, footer {
			background-color: #60515a;
			margin-left: -15px;
			margin-right: -15px;
		}

		header {
			font-family: 'Lobster', cursive, serif;
			margin-top: -35px;
			padding-top: 30px;
			padding-bottom: 30px;
			text-align: center;
		}

		footer {
			margin-bottom: -35px;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}


		/* partie 1 biographie */
		ul {
			text-align: justify;
		}
			
		#ul_1, #ul_2 {
			background-color: #7e7078;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 20px;
		}

		#ul_2 img {
			margin-left: -15px;
		}

		#ul_2 ul {
			margin-top: 40px;
			margin-left: 15px;
		}		

		#ul_1 img {
			padding-right: 0px;
		}

		#ul_1 ul {
			margin-top: 120px;
			padding-left: 40px;
		}
		
		/* partie 2 paragraphes */
		article {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		h3 {
			font-family: 'Acme', sans-serif;
		}
		p {
			background-color: #c4bdc1;
			margin-top: 20px;
			padding: 15px;
		}

		/* liens */
		footer a:hover {
			background-color: #c4bdc1;
		}

		a {
			color: #60515a;
		}

		a:hover, footer a {
			color: #d23798;
		}
