/*
palette de bleus. source colorhunt.co/c/66766
#dff5f2
#87dfd6
#46b7b9
#2f9296
*/
html {
	background-color: #2f9296;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}
body {
	margin: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.contenant {
	min-height: 100vh;
	display: flex;
	overflow: hidden;
}
.panel {
	background-color: #46b7b9;
	background-size: cover;
	background-position: center;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	box-shadow: 0 0 10px #87dfd6,
				inset 0 0 10px #2f9296;
	/* transition voir .panel.open */
	transition: font-size 0.9s ease-in-out,
				flex 0.8s ease-in-out,
				background 0.2s;
	-moz-transition: font-size 0.9s ease-in-out,
				flex 0.8s ease-in-out,
				background 0.2s;
	-webkit-transition: font-size 0.9s ease-in-out,
				flex 0.8s ease-in-out,
				background 0.2s;						
}
.panel1 {background-image: url(img/beach.jpg);}
.panel2 {background-image: url(img/desert.jpg);}
.panel3 {background-image: url(img/beach2.jpg);}
.panel4 {background-image: url(img/mountain.jpg);}
.panel5 {background-image: url(img/tokyo.jpg);}
.panel6 {background-image: url(img/castle.jpg);}

/* indispensable d'en fr des flex pr le transform */
.panel > * {
	margin: 0;
	width: 100%;
	transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.panel > p {
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
	color: #dff5f2;
	text-shadow: 0 0 10px #46b7b9;
}
.panel > p:nth-child(2) {
	font-size: 2.5em;
}
.panel > *:first-child {
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}
.panel.active > *:first-child {
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}
.panel > *:last-child {
	transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
.panel.active > *:last-child {
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}
.panel.open {
	font-size: 40px;
	flex: 6;
}
#footer {
	font-size: 10px;
}
#footer a {
	color: #46b7b9;
}
